<nav id="top-navbar">

  <ul class="leftmost-features">
    <li>
      <div class="search-bar">
        <input type="text" placeholder="Search..." />
        <img src="/loupe.png" title="Search" class="search-icon" />
      </div>
    </li>
  </ul>

  <a [routerLink]="['/']">
    <img src="/logo.png" class="logo" type="image/png">
  </a>

  <ul class="rightmost-features">
    <li>
      <a [routerLink]="['/']">
        <img src="/home.png" title="Home" class="feature" type="image/png">
      </a>
    </li>
    <li>
      <a [routerLink]="['/favorites']">
        <img src="/heart.png" title="Favorites" class="feature" type="image/png">
      </a>
    </li>
    <li>
      <label for="upload-input" title="Upload audio">
        <img src="/upload.png" class="feature upload-img" type="image/png" />
      </label>
      <input
        type="file"
        id="upload-input"
        class="upload-input"
        (change)="handleFileSelect($event)"
        accept=".mp3,.wav"
      />
    </li>
    <li>
      <img src="/settings.png" title="Settings" class="feature" type="image/png">
    </li>
  </ul>

</nav>

<nav id="side-navbar">
  <a class="side-nav-item" style="text-decoration: underline;">
    All of my playlists
  </a>
  <a *ngFor="let playlist of playlists" class="side-nav-item" [routerLink]="['/playlists', playlist.playlistName]">
    {{ playlist.playlistName }}
  </a>

  <div class="playlist-actions">
    <button (click)="createNewPlaylist()">Create Playlist</button>
    <br>
    <button (click)="removePlaylist()">Delete Playlist</button>
  </div>
</nav>

<router-outlet></router-outlet>