<nav id="top-navbar">

  <ul class="leftmost-features">
    <li>
      <div class="search-bar">
        <input type="text" placeholder="Search..." />
        <img src="/loupe.png" title="Search" class="search-icon" />
      </div>
    </li>
  </ul>

  <a [routerLink]="['/']">
    <img src="/logo.png" class="logo" type="image/png">
  </a>

  <ul class="rightmost-features">
    <li>
      <a [routerLink]="['/']">
        <img src="/home.png" title="Home" class="feature" type="image/png">
      </a>
    </li>
    <li>
      <img src="/heart.png" title="Favorites" class="feature" type="image/png">
    </li>
    <li>
      <label for="upload-input" title="Upload audio">
        <img src="/upload.png" class="feature upload-img" type="image/png" />
      </label>
      <input
        type="file"
        id="upload-input"
        class="upload-input"
        (change)="handleFileSelect($event)"
        accept=".mp3,.wav"
      />
    </li>
    <li>
      <img src="/settings.png" title="Settings" class="feature" type="image/png">
    </li>
  </ul>

</nav>

<nav id="side-navbar">
  <a  class="side-nav-item">
    All of my playlists
  </a>
  <a  class="side-nav-item">
    Playlist - Name of the first playlist
  </a>
  <a  class="side-nav-item">
    Playlist - Name of the second playlist
  </a>
  <a  class="side-nav-item">
    Playlist - Name of the third playlist
  </a>
</nav>

<router-outlet></router-outlet>