<div class="audio-view-container" *ngIf="audio">

  <div class="audio-player-section">
    <img src="/note.png" alt="Default music logo" class="audio-image" type="image/png"/>

    <audio controls [src]="'http://localhost:5174/audios/' + audio.id + '/file'">
      Your browser does not support the audio element.
    </audio>

    <div class="audio-options">
      <button (click)="switchToPrevious(audio)">Previous</button>
      <button (click)="delete(audio)">Delete</button>
      <button (click)="download(audio)">Download</button>
      <button (click)="switchToNext(audio)">Next</button>
    </div>
  </div>


  <div class="audio-metadata-section">
    <h2>{{ audio.title }}</h2>
    <p><strong>Artist:</strong> {{ audio.artist }}</p>
    <p><strong>Format:</strong> {{ audio.type }}</p>
    <p><strong>Size:</strong> {{ (sizeToNumber(audio.size) / 1024 / 1024) | number:'1.2-2' }} MB</p>
    <p><strong>Favorite:</strong> {{ isFavorite(audio) ? 'Yes' : 'No' }}</p>
  </div>
</div>
